.foodtro {
    margin: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.food-description {
    color: lightblue;
    font-family: 'ZCOOL QingKe HuangYou', ;
    text-shadow: 3px 3px rgb(24, 23, 23);
    font-size: 4vw;
    @include tablet {
        font-size: 3vw;
    }
    @include laptop {
        font-size: 19vw;
    }
    @include phone {
        font-size: 1vw;
    }
    @include desktop {
        font-size: 5vw;
    }
}

.iframe {
    height: 30rem;
    width: 150rem;
    margin-top: 4rem;
    @include phone {
        height: 20rem;
        width: 15rem;
    }
}

.food {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20%;

}

.items {
    height: 20rem;
    width: 30rem;
    @include tablet {
        height: 8rem;
        width: 10rem;
    }
}

.items-sushi {
    background-image: url(../media/sushi.jpg);
    background-position: center;
    background-size: cover;
}

.items-soba {
    background-image: url(../media/soba.jpg);
    background-position: center;
    background-size: cover;
}

.items-takoyaki {
    background-image: url(../media/takoyaki.jpeg);
    background-position: center;
    background-size: cover;
}


.items:hover {
    animation-name: nausea;
    animation-duration: 2s;
}

.food:hover .items:not(:hover) {
    transform: scale(0.8);
    opacity: 0.5;

}


@keyframes nausea {
    0% {
        transform: scale(1) rotateZ(0deg) skew(0deg, 0deg);
    } 

    25% {
        transform: scale(1.25) rotateZ(25deg) skew(9deg, 9deg);
    }

    50% {
        transform: scale(1.4) rotateZ(-360deg) skew(-12deg, -12deg);
    }

    75% {
        transform: scale(1.25) rotateZ(25deg) skew(9deg, 9deg);
    }

    100% {
        transform: scale(1) rotateZ(0deg) skew(0deg, 0deg);
    }
}

@keyframes support {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}