@import "_variables.scss" ;
@import "_setup.scss";


.foodtro {
    position: relative;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.food-title {
    color: rgb(207, 250, 233);
    font-family: 'Acme', cursive;
    text-shadow: 3px 3px rgb(24, 23, 23);
    text-align: center;
    transform: translate(550%, -100%);
    backdrop-filter: blur(3px);
    @include phone {
        font-size: 15vw;
        transform: translate(50%, -250%);
        position: absolute;
    }
    @include tablet {
        font-size: 8.5vw;
        transform: translate(190%, -175%);
        position: absolute;
    }
    @include desktop {
        font-size: 3.5vw;
        transform: translate(550%, -100%);
        position: initial;
    }
}

.food-description {
    position: relative;
    text-align: center;
    width: 50%;
    font-size: 1.5vw;
    color: rgb(207, 250, 233);
    font-family: 'Acme', cursive;
    background-color: rgba(0, 0, 0, 0.733);
    transform: translate(50%, -70%);
    @include phone{
        font-size: 4vw;
        transform: translate(5%, 10%);
        width: 90%;
    }
    @include tablet{
        font-size: 2.5vw;
        transform: translate(25%, 30%);
        width: 70%;
    }
    @include desktop {
        font-size: 1.5vw;
        transform: translate(50%, -70%);
        width: 50%;
    }
}

.iframe {
    display: none;
    z-index: 1500;
    @include phone {
        height: 125vw;
        width: 60vw;
        transform: translate(-10%, -50%);
    }
    @include tablet {
        height: 95vw;
        width: 60vw;
        transform: translate(-10%, -20%);
    }
    @include desktop {
        height: 30vw;
        width: 50vw;
        transform: translate(0%, -85%);
    }
    position: fixed;
    left: 25%;

}

.food {
    position: relative;
    display: flex;
    justify-content: space-around;
    @include phone {
        top: -15%;
    }
    @include tablet {
        top: -15%;
    }
}

.food2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    @include phone {
        top: -15%;
    }
    @include tablet {
        top: -15%;
    }
}

.items {
    position: absolute;
    @include phone {
        height: 25vw;
        width: 25vw;
        filter: drop-shadow(5px 5px 5px rgb(24, 23, 23));
        top: -1rem;
    }
    @include tablet {
        height: 20vw;
        width: 20vw;
        filter: drop-shadow(5px 5px 5px rgb(24, 23, 23));
        top: 1rem;
    }
    @include desktop{
        height: 10vw;
        width: 14vw;
        filter: drop-shadow(5px 5px 5px rgb(24, 23, 23));
        top: -8rem;
    }
}

.items-sushi {
    background-image: url(../media/sushi.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 10%;
    @include phone {
        left: 3.5%;
    }
    @include tablet {
        left: 10%;
    }
    @include desktop {
        left: 21%;
    }
 
}

.items-soba {
    background-image: url(../media/soba.jpg);
    background-position: center;
    background-size: cover;
}

.items-takoyaki {
    background-image: url(../media/takoyaki.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 65%;
    @include phone{
        left: 68.5%;
    }
    @include tablet {
        left: 68.5%;
    }
    @include desktop {
        left: 65%;
    }

}

.items-onigiri {
    display: none;
    background-image: url(../media/onigiri.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 21%;
    @include phone{
        left: 3.5%;
    }
    @include tablet {
        left: 10%;
    }
    @include desktop {
        left: 21%;
    }

}

.items-ramen {
    display: none;
    background-image: url(../media/ramen.jpg);
    background-position: center;
    background-size: cover;
}

.items-okonomiyaki {
    display: none;
    background-image: url(../media/okonomiyaki.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 65%;
    @include phone {
        left: 68.5%;
    }
    @include tablet {
        left: 68.5%;
    }
    @include desktop {
        left: 65%;
    }


}


.items:hover {
    transform: scale(1.12) rotateY(360deg);
    transition-duration: 1.5s;
}

.food:hover .items:not(:hover) {   /*Spaces are for descendants, while > are for children */
    transform: scale(0.8);
    opacity: 0.5;
    transition-duration: 1s;

}
.food2:hover .items:not(:hover) {   /*Spaces are for descendants, while > are for children */
    transform: scale(0.8);
    opacity: 0.5;
    transition-duration: 1s;

}


.button2_checkbox {
    display: none;
}

.button2 {
    display: inline-block;
    width: 20vw;
    height: 4vw;
    background-color: rgb(14, 9, 9);
    text-align: center;
    position: absolute;
    left: 40%;
    top: 36.5%;
    font-family: 'Acme', cursive;
    color: rgb(207, 250, 233);
    font-weight: bold;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    text-decoration: none;
    cursor: pointer;
    @include phone{
        width: 60vw;
        height: 25vw;
        left: 17.5%;
        top: 60%;
        font-size: 6vw;
    }
    @include tablet {
        width: 30vw;
        height: 20vw;
        left: 35%;
        top: 55%;
        font-size: 4vw;
    }
    @include desktop {
        width: 20vw;
        height: 4vw;
        left: 40%;
        top: 36.5%;
        font-size: 1.2vw;
    }
    
}

.button2::before, .button2::after {
    content: "";
    position: absolute;
    transition: all .25s;
}

.button2::before {
    border-bottom-width: 0.5vw;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 204, 255, 0.85);
    border-left-width: 0.5vw;
    border-left-color: rgba(0, 204, 255, 0.85);
    border-left-style: solid;
    width: 10%;
    height: 33%;
    left: -1vw;
    bottom: -1vw;
    @include phone {
        border-bottom-width: 2vw;
        border-left-width: 2vw;
        left: -2.5vw;
        bottom: -3vw;
    }
    @include tablet {
        border-bottom-width: 2vw;
        border-left-width: 2vw;
        left: -2.5vw;
        bottom: -3vw;
    }
    @include desktop {
        border-bottom-width: 0.5vw;
        border-left-width: 0.5vw;
        left: -1vw;
        bottom: -1vw;
    }
}

.button2::after {
    border-top-width: 0.5vw;
    border-top-color: rgba(0, 204, 255, 0.85);
    border-top-style: solid;
    border-right-width: 0.5vw;
    border-right-color: rgba(0, 204, 255, 0.85);
    border-right-style: solid;
    width: 10%;
    height: 33%;
    top: -1vw;
    right: -1vw;
    @include phone{
        border-top-width: 2vw;
        border-right-width: 2vw;
        top: -2.5vw;
        right: -3vw;
    }
    @include tablet {
        border-top-width: 2vw;
        border-right-width: 2vw;
        top: -2.5vw;
        right: -3vw;
    }
    @include desktop {
        border-top-width: 0.5vw;
        border-right-width: 0.5vw;
        top: -1vw;
        right: -1vw;
    }
}

.button2:hover::before, .button2:hover::after  {
    width: 107.5%;
    height: 126%;
    @include phone {
        width: 106%;
        height: 106%;
    }
    @include tablet {
        width: 112%;
        height: 112%;
    }
    @include desktop {
        width: 107.5%;
        height: 126%;
    }
}

.button2_checkbox:checked ~ .food .items-sushi{

    display: none;


}
.button2_checkbox:checked ~ .food .items-soba{
    transform: rotateY(180deg);
    display: none;

}
.button2_checkbox:checked ~ .food .items-takoyaki{
    display: none;

}

.button2_checkbox:checked ~ .food2 .items-onigiri{
    display: inline-block;

}

.button2_checkbox:checked ~ .food2 .items-ramen{

    display: inline-block;

}

.button2_checkbox:checked ~ .food2 .items-okonomiyaki{

    display: inline-block;

}



@keyframes support {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

.items-title {
    text-align: center;
    font-size: 1vw;
    font-family: 'Acme', cursive;
    transform: translateY(275%);
    color: rgb(207, 250, 233);
    background-color: rgba(12, 0, 117, 0.705);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.76);
    border-width: 1vw;
    @include phone {
        font-size: 3.5vw;
        transform: translateY(330%);
        border-width: 1vw;
    }
    @include tablet {
        font-size: 3vw;
        transform: translateY(330%);
        border-width: 1vw;
    }
    @include desktop {
        font-size: 1vw;
        transform: translateY(275%);
        border-width: 1vw;
    }
}

.restaurant-btn {
    cursor: pointer;
    position: absolute;
    left: 40%;
    top: 87%;
    z-index: 1000;
    width: 20vw;
    height: 3vw;
    line-height: 3vw;
    background-color: #00aeffee;
    border-radius: 8px;
    color: #fff;
    font-family: "Acme", cursive;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateY(-6px);
    animation-name: hover12;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @include phone {
        left: 30%;
        top: 80%;
        width: 40vw;
        height: 25vw;
        line-height: 7.5vw;
        font-size: 25px;
    }
    @include tablet {
        left: 30%;
        top: 80%;
        width: 40vw;
        height: 15vw;
        line-height: 7vw;
        font-size: 45px;
    }
    @include desktop {
        left: 40%;
        top: 87%;
        width: 20vw;
        height: 3vw;
        line-height: 3vw;
        font-size: 22px;
    }
    &:before {
      position: absolute;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
      transition-duration: 0.3s;
      opacity: 0.4;
      transform: translateY(6px);
      animation-name: hover-shadow;
      animation-duration: 1.5s;
      animation-delay: 0.3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .restaurant-btn:hover {
    background-color: #004b6eee;
    color: rgb(255, 0, 0);
  }
  
  @keyframes hover12 {
    50% {
      transform: translateY(-3px);
    }
  
    100% {
      transform: translateY(-6px);
    }
  }
  
  @keyframes hover-shadow {
    0% {
      transform: translateY(6px);
      opacity: 0.4;
    }
  
    50% {
      transform: translateY(3px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(6px);
      opacity: 0.4;
    }
  }

  .button3_checkbox {
      display: none;
  }

  .button3_checkbox:checked ~ .iframe {
      display: inline-block;
      position: relative;
  }
  
  .button3_checkbox:checked ~ .restaurant-link .restaurant-btn {
      width: 100%;
      height: 120%;
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      left: 0%;
      top: -5%;
      color: rgba(0, 0, 0, 0.8);

  }