.foodtro {
    margin: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.food-description {
    color: lightblue;
    font-family: 'ZCOOL QingKe HuangYou', ;
    text-shadow: 3px 3px rgb(24, 23, 23);
    @include phone {
        font-size: 3.5vw;
    }
}

.iframe {
    @include phone {
        height: 30vw;
        width: 35vw;
    }
    @include desktop {
        height: 30vw;
        width: 100vw;
    }
}

.food {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20%;

}

.items {
    @include phone {
        height: 12vw;
        width: 16vw;
    }
}

.items-sushi {
    background-image: url(../media/sushi.jpg);
    background-position: center;
    background-size: cover;
}

.items-soba {
    background-image: url(../media/soba.jpg);
    background-position: center;
    background-size: cover;
}

.items-takoyaki {
    background-image: url(../media/takoyaki.jpeg);
    background-position: center;
    background-size: cover;
}


.items:hover {
    transform: scale(1.4) rotateY(360deg);
    transition-duration: 1.5s;
}

.food:hover .items:not(:hover) {
    transform: scale(0.8);
    opacity: 0.5;
    transition-duration: 1s;

}

@keyframes support {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}