@import "_variables.scss" ;
@import "_setup.scss";

.overview_background {
    width: 35vw;

}

.overview{
    font-size: 2vw;
    font-family: 'Patua One', cursive;
    color: rgb(214, 255, 252);
    background-color: rgba(13, 52, 75, 0.705);
    border-style: outset;
    border-width: 1vw;
    border-color: rgba(2, 0, 117, 0.753);
    transform: translate(10%, 40%);
}

.card1 {

    perspective: 180rem;
    -moz-perspective: 180rem;
    /*position: relative;*/
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around; */
 /*   perspective: 150rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    */
}

@mixin cardposition {
    left: 46.5%;
}

.card-side {
    height: 11vw;
    width: 8vw;
    font-size: 15px;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include phone {
        transform: translateY(-25rem);
    }
    @include tablet {
        transform: translateY(-17rem);
    }
    @include desktop {
        transform: translateY(-20%) translateX(50%); /*Order matters!!!!!!*/
    }
} 

.card-side-front {
    background-image: url("../media/tokyo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 4;
    transition: all 1s;
    @include cardposition;

    /*@include tablet {
        height: 26rem;
        width: 10rem;
    }*/

}

.card-side-then {
    background-image: url("../media/rainbow-bridge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    transition: all 1s;
    visibility: hidden;
    @include cardposition;

    /*@include tablet {
        height: 26rem;
        width: 10rem;
    }*/
}

.card-side-next {
    background-image: url("../media/temple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 3;
    transition: all 1s;
    visibility: hidden;
    @include cardposition;

    /*@include tablet {
        height: 26rem;
        width: 10rem;
    }*/
}
.card-side-back {
    background-image: url("../media/fuji.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    transform: rotateY(-180deg);
    transition: all 1s;
    @include cardposition;

   /* @include tablet {
        height: 26rem;
        width: 10rem;
    }*/

}


.culture {
    font-family: 'ZCOOL QingKe HuangYou', ;
    background-color: rgb(12, 0, 0);
    color: rgb(0, 132, 255);
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: 90%;
}


.card1:hover .card-side-front {
    transform: rotateY(-180deg);
    cursor: pointer;
    }


.card1:hover .card-side-back {
    transform: rotateY(0deg);
    cursor: pointer; 
    @include phone {
        transform: translateY(-270%);
    }
    @include tablet {
        transform: translateY(-89%);
    }
    @include desktop {
        transform: translateY(10%);
    }
}

.card1:active .card-side-front {
    left: 10%;
    backface-visibility: visible;
    transform: rotateY(360deg);
    @include phone {
        transform: rotateY(0deg) translateY(-250%);
    }
    @include tablet {
        transform: translateY(-89%);
    }
    @include desktop {
        transform: rotateY(360deg) translateY(10%);
    }
}

.card1:active .card-side-then {
    visibility: visible;
    left: 30%;

}

.card1:active .card-side-next {
    visibility: visible;
    left: 50%;
}

.card1:active .card-side-back {
    left: 70%;
    backface-visibility: visible;
    @include phone {
        transform: rotateY(0deg) translateY(-250%);
    }
    @include tablet {
        transform: translateY(-89%);
    }
    @include desktop {
        transform: rotateY(360deg) translateY(10%);
    }
}

/*.button {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 50rem;
    position: relative;
    top: 65%;
    left: 35%;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-shadow: 4rem 1rem 3rem rgb(0, 26, 255);
    cursor: pointer;
    @include phone {
        font-size: 1rem;
        left: 30%;
        top: 70%;
    }
    @include tablet {
        left: 30%;
        top: 55%;
    }
}

/*
.button:hover .card-side-front{
    left: 10%;
    backface-visibility: visible;
    transform: rotateY(360deg);
}

.button:hover .card-side-then{
    visibility: visible;
    left: 30%;
}

.button:hover .card-side-next{
    visibility: visible;
    left: 50%;
}

.button:hover .card-side-back{
    left: 70%;
    backface-visibility: visible;
    transform: rotateY(360deg);
}
*/