@import "_variables.scss" ;
@import "_setup.scss";

.navigation_checkbox {
    display: none;
}

.navigation_button {
    background-color: rgba(0, 204, 255, 0.705);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2500;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.navigation_icon {
    position: relative;
    margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after{
    content: '';
}

.navigation_icon::before{
    position: absolute;
    top: -.8rem;
    left: 0;
}

.navigation_icon::after{
    position: absolute;
    top: .8rem;
    left: 0;
}

.navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all .2s;
}

.navigation_button:hover .navigation_icon::before {
    top: -1rem;
}

.navigation_button:hover .navigation_icon::after {
    top: 1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
    background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
    transform: rotate(135deg);
    top: 0;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
    transform: rotate(-135deg);
    top: 0;
}

.navigation_link {
    font-family: 'Acme', cursive;
    border-style: groove;
    border-width: 0.5rem;
    border-color: whitesmoke;
}


.navigation_list {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigation_item {
    transform: translate(0%, -50%);
}

.navigation_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
    width: 100%;
    transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation_background {
    height: 10rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 6.5rem;
    background-image: radial-gradient(
        rgba(8, 217, 245, 0.7),
        rgba(0, 126, 148, 0.8),
        rgba(0, 68, 80, 0.8));
    z-index: 1000;
    transition: transform .8s;
    transform: scale(0);
    border-style: outset;
    border-width: 1rem;
    border-color: rgba(0, 0, 0, 0.5);

}

.navigation_link, .navigation_link:link, .navigation_link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 240%;
    transition: all 0.4s;

}

.navigation_link:hover, .navigation_link:active {
    background-position: 100%;
    color: rgba(41, 152, 255, 1);
}


.navigation_checkbox:checked~.navigation_background {
    transition-duration: 0.7s;
    border-radius: 0;
    transform: scaleX(80) scaleY(1) translateY(-4rem);

}




.navigation_checkbox:checked~.navigation_nav {
    display: inline-block;
    animation-name: fade_in;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    width: 100%;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}