html {
    margin: 0;
    padding: 0;
    font-size: 62.5%; /*This is 10px */
    /*10 px equals to 0.625rem*/
    box-sizing: border-box;
    
}

body {
    background-color: color(dark);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    animation-name: first;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header {
    position: relative;
    height: 75vw;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(primary-dark), 0.3),
        rgba(color(primary-light), 0.4)
    ),
    url(../media/city.gif);
    background-size: cover;
    background-position: center;
    top: 1.2%;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0% 30%);
    animation-name: woah;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

@keyframes woah {
    0% {
        transform: rotateY(0deg) /*scale(0.2)*/;
    }
    100% {
        transform: rotateY(360deg) /*scale(1)*/;
    }
}


.first {
    position: relative;
    height: 75vw;
    width: 100%;
    background-image: linear-gradient(
        to left bottom,
        rgba(20, 1, 1, 0),
        rgba(0, 4, 219, 0.377)
    ),
    url(../media/combination.jpeg);
    background-size: cover;
    background-position: center;
    border: 15rem;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(50% 20%, 50% 20%, 100% 0, 100% 100%, 94% 100%, 0 100%, 0 100%, 0 0);
    
    
}

.second {
    position: relative;
    height: 75vw;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(143, 0, 226, 0.26),
        rgba(44, 0, 238, 0.301)
    ),
    url(../media/restaurant.jpg);
    background-size: cover;
    background-position: center;
    border: 15rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}