html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(
        to left bottom, 
        rgba(color(primary-med), 0.8),
        rgba(color(gris), 0.8)
    ),
    url(../media/bonsai.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
