.video {
    min-height: 200vw;
    width: 100%;
    transform: scaleY(0.45) translateY(-80rem);
    background-image: linear-gradient(to right top, rgb(0, 0, 0), rgb(13, 3, 145), rgb(83, 2, 121), black);
    background-size: cover;

}

.viddescription {
    position: absolute;
    color: (rgb(255, 0, 0));
    font-family: 'Trade Winds', ;
    margin: 54rem;
    transform: translate(200%, -2850%) ;
}

.videohead {
    font-size: 2vw;
    z-index: 2;
}

.viddescription:hover {
    background-color: rgb(129, 255, 234);
    transition-duration: 1s;   
}