.vidholder {
    height: 50vh;
}

.video {
    min-height: 200rem;
    min-width: 100%;
    transform: scaleY(0.35) translateY(-80rem);
}

.viddescription {
    position: absolute;
    color: (rgb(255, 0, 0));
    font-family: 'Trade Winds', ;
    margin: 54rem;
    transform: translate(200%, -2150%) ;
}

.videohead {
    font-size: 2rem;
    z-index: 2;
}

.viddescription:hover {
    background-color: rgb(129, 255, 234);
    transition-duration: 1s;   
}