@import "_variables.scss";
@import "_setup.scss";



@keyframes first{
    0% {
       transform: scaleY(0.3) scaleX(0.3);

    }
    100% {
       transform: scaleY(1) scaleX(1);
    }
}


.text-group {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    }

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: lightblue;
    font-size: 5vw;
    font-family: 'Zhi Mang Xing', cursive;
    text-shadow: 3px 3px rgb(24, 23, 23);
    @include tablet {
        font-size: 8vw;
    }
    @include laptop {
        font-size: 19vw;
    }
    @include phone {
        font-size: 1rem;
    }
    @include desktop {
        font-size: 5vw;
    }
}

.heading:hover {
    animation-name: turn;
    animation-duration: 1s;
    animation-timing-function: ease;
    color: rgb(255, 0, 0);
}


@keyframes turn {
    0% {
        transform: rotateY(0deg); 
    } 

    100% {
        transform: rotateY(360deg);
    }
}

.heading2 {
    /*display: flex;
    flex-direction: column;
    align-items: center; */
    transform: translateY(30rem);
    color: lightblue;
    font-size: 4.3vw;
    font-family: 'Odibee Sans', ;
    text-shadow: 3px 3px rgb(24, 23, 23);
    @include phone {
        transform: translateY(6.5rem);

    }
    @include desktop {
        transform: translateY(30rem);
    }
}



@import "_layout.scss";

@import "_food.scss";

@import "_video.scss";