@import "_variables.scss";
@import "_setup.scss";



@keyframes first{
    0% {
       transform: scaleY(0.3) scaleX(0.3);

    }
    100% {
       transform: scaleY(1) scaleX(1);
    }
}


.text-group {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);

    }

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: lightblue;
    font-size: 3.5vw;
    font-family: 'Acme', cursive;
    font-weight: 500;
    text-shadow: 3px 3px rgb(24, 23, 23);
}

.heading:hover {
    transition-duration: 0.7s;
    transition-timing-function: ease;
    color: rgb(255, 0, 0);
    transform: scaleY(1.2) skew(5deg, -5deg);
}


.entrance {
    position: relative;
    display: flex;
    justify-content: center;
    top: 35%;
}



.gate {
    height: 13vw;
    width: 6.66vw;
}

.entrance:hover .gate-first{
    transform: translateX(-10vw);
    transition-duration: 0.7s;
    transition-timing-function: ease;
    filter: contrast(2);
}

.entrance:hover .gate-last{
    transform: translateX(10vw);
    transition-duration: 0.7s;
    transition-timing-function: ease;
    filter: contrast(2);
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrow1 {
    position: absolute;
    top: 80%;
    height: 10vw;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}


.heading2 {
    /*display: flex;
    flex-direction: column;
    align-items: center; */
    color: rgb(207, 250, 233);
    font-size: 3.29vw;
    text-align: center;
    font-family: 'Acme', cursive;
    text-shadow: 3px 3px rgb(24, 23, 23);
    backdrop-filter: blur(3px);
    @include phone {
        transform: translateY(6.5rem);

    }
    @include tablet {
        transform: translateY(12rem);
    }

    @include desktop {
        transform: translateY(250%);
    }
}

.heading2:hover{
    text-shadow: 5px 5px rgb(24, 23, 23);
    color: rgba(255, 0, 0, 0.795);
    transition-duration: 1s;
    transition-timing-function: ease;
}

@import "_navigation.scss";

@import "_layout.scss";

@import "_food.scss";

@import "_games.scss";


@import "_video.scss";

